* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "section"
        "footer";
}

header {
    grid-area: header;
    background-color: #041801;
    color: #EAEAEC;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

header p i{
    color:#27EA0C;
}

aside {
    grid-area: aside;
    background-color: #EAEAEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.aside__select {
    width: 60%;
}

main {
    grid-area: main;
    overflow: auto;
}

section {
    grid-area: section;
    display: flex;
    margin: 4px auto;
}

.paginator {
    padding: 4px;
    border: 1px solid #041801;
}

.paginator__start {
    border-radius: 5px 0px 0px 5px;
}

.paginator__end {
    border-radius: 0px 5px 5px 0px;
}

footer {
    grid-area: footer;
    background-color: #041801;
    color: #EAEAEC;
    text-align: center;
}

.container-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px #dddddd;
}

.card-product__image {
    width: 100%;
}

.card-product__title {
    padding: 4px;
}

.card-product__button {
    background-color: #27EA0C;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
}

.header__menu {
    display: none;
}

@media(min-width: 576px) {
    .container {
        /* height: 100vh;
        display: grid;
        grid-template-rows: auto auto 1fr auto auto; */
        grid-template-areas:
            "header aside"
            "header main"
            "footer section";
    }

    .container-products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        /* overflow: scroll;
        overflow-y: scroll; */
    }

    .d-none {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .header__menu {
        display: inline-block;
        margin-top: 30px;
    }

    .header__menu li {
        list-style: none;
    }
}